<div>
    <!-- 
      the SITE_KEY is the sitekey from your admin console.
      use form control for validation
    -->
    <re-captcha (resolved)="resolved($event)" 
                formControlName="recaptchaReactive" 
                siteKey="6LdC8PgUAAAAAO4BubR37VohriRoSS1DmlimeanY">  
    </re-captcha>
  </div>
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12">
              <button data-toggle="modal" 
                        data-target="#formRegistro" 
                        class="btn btn-lg btn-block btn-primary">
                  <i class="material-icons">add</i>AGREGAR PUNTO DE ATENCIÓN</button>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title ">Puntos de Atención</h4>
                      <p class="card-category"> Listado de puntos de atención registrados</p>
                  </div>
                  <div class="card-body">
                    <mat-form-field>
                        <mat-label>Filtro</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                      </mat-form-field>
                      <div class="table-responsive">
                          <!-- <table id="ejemplo" class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      REGIÓN
                                  </th>
                                  <th>
                                      NOMBRE
                                  </th>
                                  <th>
                                      ESTADO
                                  </th>
                                  <th>ACCIONES</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let punto of puntosAtencion">
                                      <td>
                                          {{ punto.id_punto_atencion }}
                                      </td>
                                      <td>
                                          {{ getRegion(punto.region) | uppercase }}
                                      </td>
                                      <td>
                                          {{ punto.nombre | uppercase }}
                                      </td>
                                      <td>
                                          {{ getEstado(punto.estado) | uppercase }}
                                      </td>
                                      <td>
                                        <button data-toggle="modal" data-target="#formActualizacion"
                                            (click)="editar(punto)" class="btn btn-primary">Modificar</button>
                                      </td>
                                  </tr>
                              </tbody>
                          </table> -->
                          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                          
                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                              <th mat-header-cell *matHeaderCellDef> Id. </th>
                              <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="nombre">
                              <th mat-header-cell *matHeaderCellDef> Nombre </th>
                              <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="region">
                              <th mat-header-cell *matHeaderCellDef> Region </th>
                              <td mat-cell *matCellDef="let element"> {{ getRegion(element.region) }} </td>
                            </ng-container>
                          
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="estado">
                              <th mat-header-cell *matHeaderCellDef> Estado </th>
                              <td mat-cell *matCellDef="let element"> {{ getEstado(element.estado) }} </td>
                            </ng-container>

                            <!-- acciones Column -->
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element; let i = index"> 
                                    <button data-toggle="modal" data-target="#formActualizacion"
                                    (click)="editar(element, i)" class="btn btn-primary">Modificar</button> 
                                </td>
                              </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                          </table>
                          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="row">
          <!-- Formulario para agregar punto de atención -->
        <div class="modal fade" id="formRegistro" tabindex="-1" role="dialog" aria-labelledby="formRegistro" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar un nuevo punto de atención</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="puntoAtencionForm">
                        <div class="form-group">
                          <mat-form-field>
                            <mat-label>Región</mat-label>
                            <mat-select formControlName="regionPunto">
                                <mat-option *ngFor="let region of regiones" [value]="region.codigo">
                                    {{ region.nombre }}
                                </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group">
                            <mat-form-field class="">
                                <input formControlName="nombrePuntoAtencion" matInput placeholder="Nombre de Punto de Atención">
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                <button (click)="puntoAtencionForm.reset()" type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
                <button (click)="guardarPunto()" data-dismiss="modal" [disabled]="!puntoAtencionForm.valid" class="btn btn-primary">GUARDAR PUNTO DE ATENCIÓN</button>
                </div>
            </div>
            </div>
        </div>
      </div>
      <div class="row">
        <!-- Formulario para actualizar punto de atención -->
      <div class="modal fade" id="formActualizacion" tabindex="-1" role="dialog" aria-labelledby="formActualizacion" aria-hidden="true">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title">Actualizar punto de atención</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="puntoAtencionActualizacionForm">
                    <div class="form-group">
                        <mat-form-field>
                            <input required matInput formControlName="nombrePuntoAtencion" [(value)]="punto.nombre"
                            name="nombrePunto">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field>
                          <mat-label>Estado</mat-label>
                          <mat-select required formControlName="estadoPunto" [(value)]="punto.estado">
                              <mat-option *ngFor="let estado of estados" [value]="estado.id">
                                  {{ estado.nombre }}
                              </mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </form>
                </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">CERRAR</button>
              <button (click)="actualizarPunto()"
                    [disabled]="!puntoAtencionActualizacionForm.valid"
                    data-dismiss="modal" 
                    class="btn btn-primary">ACTUALIZAR PUNTO DE ATENCIÓN</button>
              </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
