.bg-blue-pistio {
    background-color: #1369a0 !important;
}

.bg-red-pistio {
    background-color: #e53935 !important;
}

.center {
    text-align: center;
}

table {
    width: 100%;
}

.full {
    width: 100%;
}

.header {
    background: #e53935;
    color: white;
}

.barra-horizontal {
    overflow-x: auto;
}


.bg-red-pdf {
    background-color: #ff0000 !important;
}

.bg-green-csv {
    background-color: #008000 !important;
}