<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h3 class="card-title">{{ tipoReporte }}</h3>
          </div>
          <div class="card-body"></div>

          <div class="col">
              <div class="places-buttons">
                    <div class="row">
                        <div class="col-md-12">
                            <mat-accordion>
                                <mat-expansion-panel #panel [expanded]="true">
                                    <div class="col-lg-7 col-md-12 ml-auto mr-right text-center">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Filtro de busqueda
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                    </div>
                                    <form [formGroup]="searchForm">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <!-- FECHA DESDE -->
                                                <div class="col">
                                                    <mat-form-field>
                                                        <mat-label>Fecha desde</mat-label>
                                                        <input matInput [matDatepicker]="fechDes"
                                                            formControlName="fechaDesde"
                                                            [min]="minFecha"
                                                            [max]="maxFecha"
                                                            (keypress)="filterKey($event)"
                                                            required
                                                        />
                                                        <mat-datepicker-toggle matSuffix [for]="fechDes"></mat-datepicker-toggle>
                                                        <mat-datepicker #fechDes></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                <!-- FECHA HASTA -->
                                                <div class="col">
                                                    <mat-form-field>
                                                        <mat-label>Fecha hasta</mat-label>
                                                        <input matInput [matDatepicker]="fechHas"
                                                            formControlName="fechaHasta"
                                                            [min]="minFecha"
                                                            [max]="maxFecha"
                                                            (keypress)="filterKey($event)"
                                                            required
                                                        />
                                                        <mat-datepicker-toggle matSuffix [for]="fechHas"></mat-datepicker-toggle>
                                                        <mat-datepicker #fechHas></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <!-- NUMERO QUEJA -->
                                                <div class="col">
                                                    <mat-form-field>
                                                        <mat-label>Numero de queja</mat-label>
                                                            <input matInput required formControlName="numQueja"
                                                            placeholder="Ejemplo: 12"/>
                                                            <!-- <mat-error *ngIf="numQueja.hasError('required')">
                                                            Numero de queja <strong>requerido</strong>
                                                            </mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                                <!-- REGIONES -->
                                                <div class="col">
                                                    <mat-form-field>
                                                        <mat-label>Region</mat-label>
                                                            <mat-select name="region" formControlName="region" #region>
                                                                <mat-option (click)="getPuntosRegion(region.codigo)" 
                                                                *ngFor="let region of regiones" 
                                                                [value]="region.codigo">
                                                                {{ region.nombre }}
                                                                </mat-option>
                                                            </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <!-- PUNTOS DE ATENCION -->
                                                <div class="col">
                                                    <mat-form-field>
                                                        <mat-label>Punto de Atención</mat-label>
                                                            <mat-select formControlName="puntoAtencion">
                                                                <mat-option *ngFor="let punto of puntosRegion" [value]="punto.id">
                                                                    {{ punto.nombre }}
                                                                </mat-option>
                                                            </mat-select>
                                                            <!-- <input matInput required formControlName="puntoAtencion"/> -->
                                                            <!-- <mat-error *ngIf="numQueja.hasError('required')">
                                                            Numero de queja <strong>requerido</strong>
                                                            </mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <!-- ACCIONES -->
                                                <div class="col-md-6">
                                                    <button style="margin: auto;"
                                                        class="col-md-12 btn bg-red-pistio btn-fill"
                                                    >LIMPIAR FILTRO</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button style="margin: auto;"
                                                        class="col-md-12 btn bg-blue-pistio btn-fill"
                                                        [disabled]="searchForm.invalid"
                                                        (click)="panel.close()"
                                                    >BUSCAR</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    
                    
                    <div class="card">
                        <div [hidden]="showReporte" class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-card>
                                        <div class="card-body"></div>
                                        <mat-card-header>
                                            <h2 class="center">{{ tipoReporte | uppercase }}</h2>
                                        </mat-card-header>
                                        <mat-card-content class="top">
                                            <div class="mat-elevation-z8 barra-horizontal">
                                                <table mat-table style="width: 100%;" matSort [dataSource]="dataSource">
                                                    <!-- NUMERO DE QUEJA -->
                                                    <ng-container matColumnDef="numqueja">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> NUMERO DE QUEJA </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.numqueja }} </td>
                                                    </ng-container>
                                                    <!-- TIPO DE QUEJA -->
                                                    <ng-container matColumnDef="tipoqueja">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> TIPO DE QUEJA </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.tipoqueja }} </td>
                                                    </ng-container>
                                                    <!-- PUNTO DE ATENCION -->
                                                    <ng-container matColumnDef="puntoatencion">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> PUNTO DE ATENCION </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.puntoatencion }} </td>
                                                    </ng-container>
                                                    <!-- ESTADO -->
                                                    <ng-container matColumnDef="estado">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> ESTADO </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.estado }} </td>
                                                    </ng-container>
                                                    <!-- ETAPA -->
                                                    <ng-container matColumnDef="etapa">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> ETAPA </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.etapa}} </td>
                                                    </ng-container>
                                                    <!-- RESULTADO -->
                                                    <ng-container matColumnDef="resultado">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> RESULTADO </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.resultado}} </td>
                                                    </ng-container>
                                                    <!-- MEDIO DE INGRESO -->
                                                    <ng-container matColumnDef="medioingreso">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> MEDIO DE INGRESO </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.medioingreso }} </td>
                                                    </ng-container>
                                                    <!-- FECHA DE CREACION -->
                                                    <ng-container matColumnDef="fechacreacion">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> FECHA DE CREACION </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.fechacreacion }} </td>
                                                    </ng-container>
                                                    <!-- TIEMPO DE ATENCION -->
                                                    <ng-container matColumnDef="tiempoatencion">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> TIEMPO DE ATENCION </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.tiempoatencion }} </td>
                                                    </ng-container>
                                                    <!-- DETALLE -->
                                                    <ng-container matColumnDef="detalle">
                                                        <th class="header" mat-header-cell *matHeaderCellDef> DETALLE </th>
                                                        <td mat-cell *matCellDef="let element"> {{ element.detalle }} </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table>
                                            </div>
                                        </mat-card-content>                 
                                    </mat-card>
                                    <div class="card-body"></div>
                                </div>
                            </div>    
                        </div>
                    </div>
                    <div class="top">
                        <button id="excel" #excel class="btn btn-fill bg-green-csv" (click)="generarArchivo(excel)">
                          <!-- <mat-icon aria-hidden="false"  aria-label="download">cloud_download</mat-icon> -->
                          EXCEL
                        </button>
                        <button id="pdf" #pdf class="btn btn-fill bg-red-pdf" (click)="generarArchivo(pdf)">
                          <!-- <mat-icon aria-hidden="false" aria-label="download">cloud_download</mat-icon> -->
                          PDF
                        </button>
                      </div>

                    
 
                  <!-- <div class="row">
                      <div class="col-md-6 ml-auto mr-auto text-center">
                          <h4 class="card-title">
                              Notifications Places
                              <p class="category">Click to view notifications</p>
                          </h4>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','left')">Top Left</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','center')">Top Center</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('top','right')">Top Right</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
                          <div class="row">
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','left')">Bottom Left</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','center')">Bottom Center</button>
                              </div>
                              <div class="col-md-4">
                                  <button mat-raised-button class="btn btn-danger btn-block" (click)="showNotification('bottom','right')">Bottom Right</button>
                              </div>
                          </div>
                      </div>
                  </div> -->

              </div>
          </div>
      </div>
  </div>
</div>
